<div>
  <%= line_chart @chart_data %>
</div>

<div>
<p>Count: <b><%= @contacts.count %></b>  ||
<% @contact_ways.each do |contact_way| %>
<%= "#{contact_way}:" %> <b><%= howmany_contact("#{contact_way}") %></b> |
<% end %>
<p>
</div>
