<div class="input">
<input type="" name="name" placeholder="name">
</div>

<div class="input">
<input type="" name="email" placeholder="email">
</div>

<div class="input">
<input type="password" name="password" placeholder="password">
</div>

<div>
<input type="submit" class="btn btn-primary" value="<%= yield(:button) %>">
</div>