<% provide(:title,"Home") %>

<div>
<h1>What's Customer Management App?</h1>
<h2>顧客へ向き合う時間を作り出すWEBアプリ</h2>
</div>


<div>
<h3>顧客情報の管理</h3>
<p>sample sample sample</p>
<p>sample sample sample</p>

<h3>接触情報の管理・共有</h3>
<p>sample sample sample</p>
<p>sample sample sample</p>

<h3>接触回数の可視化</h3>
<p>sample sample sample</p>
<p>sample sample sample</p>
</div>
