
<% provide(:title, "Sign Up") %>
<% provide(:button, "Sign Up") %>

<h1>Sing Up</h1>

<%= render('staff/errors') %>


<%= form_tag("/signup",method:"post") do %>

    <%= render('staff/form') %>

<% end %>

<a href="/login">Log In →</a>