<div>
  <%= form_tag("/contact/index",method:"get") do %>
  <input type="text" name="search" placeholder="Enter company name.">
  <input type="submit" class="btn btn-primary" value="Search">
  <% end %>
</div>