<% provide(:title, "Edit Contact Histroy") %>
<% provide(:button, "Update") %>

<h1>Edit Contact Histroy</h1>

<%= form_tag("/contact/#{@contact.id}/update",method:"post") do %>

<%= render('contact/form') %>

<% end %>