<% provide(:title, "Search Contact History") %>

<h1>Search Contact History</h1>

<%= render("contact/search") %>


<table class="table table-striped search-table">
  <thead>
    <tr>
      <th>Contacts</th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
    <tr>
        <td><%= link_to("/contact/#{contact.id}") do%><%= contact.contact_day %> | <%= contact.customer %> <% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
