<% provide(:title, "Make Contact Histroy") %>
<% provide(:button, "Make Contact Histroy") %>

<h1>Make Contact History</h1>


<%= form_tag("/contact/create",method:"post") do %>

<%= render('contact/form') %>

<% end %>