/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


#header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:10;
  background-color:black;
  color:white;

  h1{
    float:left;
    margin-left:10px;
  }

  #header-list{
    float:right;
    margin:10px;
  }
}

#flash{
  position:fixed;
  top:60px;
  left:50px;
  width:80%;
}

#yield{
  padding:100px 50px;
}

footer{
  position:fixed;
  bottom:0;
  left:0;
  z-index:10;
  background-color:gray;
  width:100%;

  p{
    margin-left:10px;
  }

  a{
    font-weight:bolder;
    color:black;
  }
}

form{
  input[type=""],input[type="password"]{
    width:300px;
  }

  .input{
    margin-top:10px;
    margin-bottom:10px;
    }

    input[value="Register"]{
      margin-top:10px;
    }

    input[value="Update"]{
      margin-top:10px;
    }

    input[value="Make Contact Histroy"]{
      margin-top:10px;
    }

}

.customer-info-table{
  margin-top:30px;
}

.search-table{
  margin-top:10px;
}


#contact_histroy_with_our_company{
  margin-top:50px;
}

/*smartphone*/
@media screen and (max-width:460px){

#header{
  h1{
    font-size:20px;
    margin-top:15px;
  }
}

footer{
  p{
    font-size:15px;
  }
}
}

/*tablet*/
@media screen and (min-width:461px) and (max-width:960px){
#header{
  h1{
    font-size:25px;
    margin-top:15px;
  }
}

footer{
  p{
    font-size:15px;
  }
}
}
