<% provide(:title,"Edit Customer Info") %>
<% provide(:button, "Update") %>

<h1>Edit Customer Info</h1>


<%= render('customer/errors') %>


<%= form_tag("/customers/#{@customer.id}/update",method:"post") do %>
    <%= render('customer/form') %>
<% end %>