<%  provide(:title,"Customers") %>

<h1>Customers</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
        <td><%= link_to(customer.company,"/customers/#{customer.id}") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
