<% provide(:title, "Register New Customer") %>
<% provide(:button, "Register") %>

<h1>Register New Customer</h1>

<%= render('customer/errors') %>


<%= form_tag("/register",method:"post") do %>
    <%= render('customer/form') %>
<% end %>