<% provide(:title, "Register New Customer") %>
<% provide(:button, "register") %>

<h1>Register New Customer</h1>

<% if @errors %>
<div class="alert alert-danger">
  <% @errors.full_messages.each do |message| %>
    <%= message %><br>
  <% end %>
</div>
<% end %>


<%= form_tag("/register",method:"post") do %>
    <div class="input">
    <input type="" name="name" placeholder="name">
    </div>

    <div class="input">
    <input type="" name="email" placeholder="email">
    </div>

    <div class="input">
    <input type="" name="telephone" placeholder="telephone">
    </div>

    <div>
    <input type="" name="address" placeholder="address">
    </div>

    <div>
    <input type="submit" class="btn btn-primary" value="<%= yield(:button) %>">
    </div>
<% end %>